[push]
    # Pushes your local branch to the remote branch with the same name
    default = matching
[color]
    # Activates colorful output
    ui = auto
[interactive]
    # Provides one letter input without hitting enter
    singlekey = true
[alias]
    all = add --all
    coa = checkout -- .
    co = checkout
    com = checkout master
    ct = commit
    ca = commit --amend
    cm = commit -m
    cl = clone
    cp = cherry-pick
    d = diff
    f = fetch
    gp = grep -p
    l = log
    m = merge
    ps = push
    psom = push origin master
    psod = push origin develop
    pl = pull
    plom = pull origin master
    plod = pull origin develop
    st = status
    br = branch
    rebase = pull --rebase
    rb = pull --rebase
    rbc = rebase --continue
    rbh = !"f() { NUMBER=$1; git rebase -i HEAD~$NUMBER; }; f"
    up = pull --rebase
    ch = checkout HEAD --
    checkout-head = checkout HEAD --
    rs = reset
    reset-head = reset HEAD^
    rhe = reset HEAD^
    reset-hard = reset --hard
    rha = reset --hard
    reset-commit = reset HEAD^ --hard
    rhh = reset HEAD^ --hard
    rv = remote -v
    cb = checkout -b
    db = branch -D
    ignore = update-index --skip-worktree
    unignore = update-index --no-skip-worktree
    ignored = !git ls-files -v | grep \"^S\"
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
[user]
  # Saves name and email
  name = YOUR-NAME
  email = YOUR-EMAIL
  signingkey = YOUR-PUBLIC-KEY-PATH
[core]
  # Git looks into this file for patterns which shouldn't be tracked
  excludesfile = YOUR-GITIGNORE-PATH
  editor = vim
# To verify the git commits  
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = YOUR-SSH-ALLOWED-SIGNERS-PATH
